<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="address" class="com.coforge.model.Address">
		<property name="city" value="City-1"/>
		<property name="state" value="State-1"/>
	</bean>
	
	<bean id="student" class="com.coforge.model.Student">
		<property name="studentId" value="101"/>
		<property name="studentName" value="Rahul Sharma"/>
		<property name="address" ref="address"/>
		<property name="subjects">
			<list>
				<value>Java</value>
				<value>Spring Core</value>
				<value>Hibernate</value>
				<value>MySQL</value>
				<value>React</value>
			</list>
		</property>
		<property name="skills">
			<set>
				<value>Communication</value>
				<value>Problem Solving</value>
				<value>Team Work</value>
				<value>Java</value>
			</set>
		</property>
		<property name="marks">
			<map>
				<entry key="Java" value="95"/>
				<entry key="Spring" value="90"/>
				<entry key="Hibernate" value="88"/>
				<entry key="MySQL" value="92"/>
				<entry key="React" value="85"/>
			</map>
		</property>
	</bean>


</beans>